@page "/about"
<div class="w-full h-full bg-linear-to-r/oklch from-gray-50 to-gray-100">
    <section class="w-full mt-3">
        <div class="mx-auto w-1/2 content-center text-center justify-center">
            
            <p class="text-gray-500 text-lg mt-5">API propietaria</p>

            <div class="flex-1 items-center justify-center">
                <p class="font-medium text-md "><a class="text-blue-500 hover:underline" target="_blank" href="https://bandcamp.com/">Bandcamp</a></p>
                <p class="font-medium text-md "><a class="text-blue-500 hover:underline" target="_blank" href="https://bandcamp.com/terms_of_use">Terminos y Condiciones</a></p>
                <p class="font-medium text-md "><a class="text-blue-500 hover:underline" target="_blank" href="https://bandcamp.com/about">Acerca</a></p>

                <p class="font-medium text-xs text-gray-500">
                    * Bandcamp es una tienda de discos y una comunidad musical en línea donde fans apasionados descubren artistas que adoran, se conectan con ellos y los apoyan directamente.
                </p>

                <p class="font-medium text-xs text-gray-500">
                     * Este proyecto utiliza la API de manera responsable, cumpliendo con los términos y condiciones de uso establecidos por Bandcamp. Se implementa respetando las mejores prácticas de desarrollo y seguridad, asegurando una integración eficiente y transparente.
                </p>

            </div>

            <p class="text-gray-500 text-lg mt-5">Librerías</p>
            <div class="flex-1 items-center space-x-2 justify-center">
                <p class="font-medium text-md "><a class="text-blue-500 hover:underline" target="_blank" href="https://ffmpeg.org/">Proyecto ffmpeg</a></p>
                <p class="font-medium text-md "><a class="text-blue-500 hover:underline" target="_blank" href="https://ffmpeg.org/ffplay.html">Herramienta ffplay</a></p>
            </div>

            <div class="flex-1 items-center space-x-2 justify-center">
                <p class="font-medium text-md "><a class="text-blue-500 hover:underline" target="_blank" href="https://www.svgrepo.com/">SVG Repo</a></p>
            </div>

            <div class="mt-5 flex items-center space-x-2 justify-center">
                <p class="text-gray-500 text-lg">Creditos</p>
                <img class="h-8 w-8" src="svgs/telegram.svg">
                <p class="font-medium text-md"><a class="text-blue-500 hover:underline" target="_blank" href="https://t.me/rockhount">rockhount</a></p>
            </div>

        </div>
    </section>
</div>
